{% extends "base.html"%} 
{% block body %}

<h1>you have arrived at index.html</h1>
<hr />

<form action="/login" method="post">
    username: <input name="username" />
    password: <input name="password" type="password" />
    <br />
    <input type="submit" />
</form>


{% endblock %}